<!DOCTYPE html>
<meta charset="utf-8">
<head>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="../static/css/styles.css"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<title>Home</title>
</head>


<body>
    <a href="/dashboard">Click here to see our dashboard!</a>
    <a href="/wordcloud">Click here to see our word cloud!</a>
    <a href="/bargraph">Click here to see our bar graph!</a>

    <p id="chartContainer"></p>
    
    <p id="bar"></p>
</body>


<script>
    
    // var name = prompt("What's your name?");
    //     var lengthOfName = name.length
    
    //     document.getElementById('output').innerHTML = lengthOfName;
    

    // document.getElementById('output').innerHTML = testData;
</script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src='../static/js/app.js'></script>
</html>