<!DOCTYPE html>
<meta charset="utf-8">
<head>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="../static/css/styles.css"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<title>Word Cloud</title>
</head>

<div id="my_dataviz"></div>


<body>
    <h1>Word Cloud</h1>

    <!-- insert data from flask here -->

</body>



<script src='../data/arxiv_condensed_data.csv'></script>
<script src='../static/js/app.js'></script>